.card-container {



    h5 {
        color: white;
        padding: 1rem 0;
    }

    .card {
        text-transform: uppercase;
    }

}

img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0;
    scale: 1
}