#show {
    display: flex;
    justify-content: center;
    align-items: center;



    .container {
        width: 1200px;
        display: flex;


        .left {
            flex-basis: 40%;
        }

        .right {
            flex-basis: 60%;
        }

        span {
            color: red;
        }
    }


}